.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
}
.not-found-img {
   height: 200px;
   width: 250px;
}
.not-heading {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto";
}
.not-para {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    font-family: "Roboto";
}